@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f8;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.downloadFooter {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 800px 240px;
  padding: 81px 0px 240px;
}
